!!!
%html
  %head
    %title Saasquatch
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
      %h1
        = link_to "Site Name", root_url
      %ul.hmenu
        = render 'devise/menu/registration_items'
        = render 'devise/menu/login_items'
    #body
      %p{class: "notice"}
        = notice
      %p{class: "alert"}
        = alert
      %p{class: "error"}
        = flash[:error] if flash[:error]
      = yield
    #footer
      %p.left Site Name
      %p.right Copyright #{DateTime.now.year} &copy; Felipe Lima
